node_modules
dist
coverage
generated

.env
.env*.local

.git
.gitignore
.idea
.vscode
.expo

Dockerfile
.dockerignore
docker-compose.yml
docker-compose*.yml

.DS_Store
Thumbs.db
*.log
npm-debug.*
*.tsbuildinfo

test
**/*.spec.ts

README.md
skills-lock.json
